<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<display-name>Test_JSP_Servlet</display-name>
	<servlet>
		<servlet-name>ListUserServlet</servlet-name>
		<display-name>ListUserServlet</display-name>
		<servlet-class>ListUserServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ListUserServlet</servlet-name>
		<url-pattern>/listUser</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>                          
	</welcome-file-list>
</web-app>
