@charset "ISO-8859-1";

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 80%;
	text-align: left;
}

tr {
	border: 1px solid black;
}

th {
	border: 1px solid black;
	text-align: left;
}

td {
	border: 1px solid black;
}